Repository oamg/leapp, pull requests merged in 2019-08, with the labels that each got.

#547 update tutorial on writing and running tests
  docs/source/unit-testing.md
Labels: docs

#543 Introduce report composability, remove renderers
  leapp/cli/report/__init__.py
  leapp/cli/upgrade/__init__.py
  leapp/reporting/__init__.py
  leapp/utils/report.py
  tests/scripts/test_reporting.py
Labels: Requries Repo PR

#545 Introduced answerfile generation
  leapp/cli/upgrade/__init__.py
  leapp/config.py
  leapp/dialogs/dialog.py
  leapp/messaging/__init__.py
  leapp/messaging/inprocess.py
  leapp/messaging/remote.py
  leapp/messaging/testing.py
  leapp/workflows/__init__.py
Labels: enhancement
