Repository oamg/leapp, pull requests merged in 2020-06, with the labels that each got.

#635 Remove LEAPP_DEVEL_SKIP_RHSM from docs
  docs/source/el7toel8/envars.md
Labels: docs

#639 Add missing env vars to the docs
  docs/source/el7toel8/envars.md
Labels: docs

#641 Document LEAPP_GRUB_DEVICE
  docs/source/el7toel8/envars.md
Labels: docs

#633 Update and reformat manual pages
  man/leapp.1
  man/snactor.1
Labels: documentation, wip

#644 Add missing test_deprecation.py
  tests/scripts/test_deprecation.py
Labels: unittest
